/* Style CSS*/

/* fontface */

body {
    background-image: url(images/backgroundNYC.jpg);
    background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Wiltona Brush;
  src: url(fonts/WiltonaBrush.ttf);
}
@font-face {
  font-family: Coolvetica;
  src: url(fonts/coolvetica.otf);
}

/* fontface */

*{
	font-size:14px;
	line-height:18px;
	font-family: 'Roboto';
	padding: 0;
	margin: 0;
}

h1{
	padding-bottom: 12px;
}

ul{
	list-style: none;
    padding: 40px 0 0 0;
}

li{
	color: #fff;
	letter-spacing: 0.1em;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
}

li:hover{
	color: #999;
	transition: color 1s;
}

a{
	text-decoration: none;
	color: #fff;
}


nav{
	width:100%;	
	height:100px;
	opacity: 0.9;
	z-index: 1;
	font-family: 'Wiltona Brush';
	font-size: 60px;
  display: none;
}


nav .links a{
	color: #000;
}



.accordion_item img {
    display: block;
    width: 100px;
    padding: 20px 50px;
    cursor: pointer;
}

.accordion_item ul {
    padding: 30px 0;
}

ul.four li {
    width: 18%;
}

ul.three li {
    width: 28%;
}

ul.three li.icon {
    width: 12%;
}

.accordion_item h1 {
    font-size: 16px;
    background-color: #fff;
    padding: 20px 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #4a5461;
    opacity: 0.8;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    letter-spacing: 2px;
    text-align: right;
    padding-right: 20%;
}

.accordion_item h1::before {
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900; 
      content: "\f133";
      position:absolute;
      left:20%;
  }

.accordion_item li i {
    position: relative;
    bottom: 13px;
    z-index: 0;
}

.accordion_item li i.fa-2x {
    bottom: 5px;
}

.accordion_item li {
    color: #000;
    float: left;
    margin-bottom: 0px;
    cursor: text;
}

.accordion_item li:nth-child(1) {
    width: 15%;
    padding-left: 35px;
}

.accordion_item.last {
    margin-bottom: 60px;
}

.accordion_content{
	display: none;
	padding-bottom: 50px;
  background-color: #fff;
  opacity: 0.8;
}


.open_accordion_item{
	display: block;
	display: block;
}

.inner{

	max-width: 1280px;
	display: block;
	margin:160px auto 0 auto;

}

.section{
	width:96%;
	padding: 0 2%;
	margin:50px 0 50px 0;
}

/* SECTION 2 */

.section2 div {
    width: 50%;
    float: left;
    min-height: 600px;
}

.section2.last{
	border-bottom: 5px solid #fff;
}

.textImage {
    background-image: url(images/half1.jpg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100%;
}

.textImage.second {
    background-image: url(images/half2.jpg);
}

.textTwo h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
}

.textTwo p {
    padding: 20px 50px;
}

/* SECTION 2 */

.footer{
	background-color: #000;
	padding:20px 0;
	clear: both;
	width:100%;
	color: #fff;
}

nav .links{
	position: absolute;
	bottom:20px;
	right:20px;
	list-style: none;
	padding:0;
}

nav .links{
	top:40px;
	right:50px;
}

 @media (max-width:700px){
	nav .links{
		display: none;
	}
}

nav .links li{
	display:inline;
	margin-bottom: 0;
	margin-right:20px;
	cursor: pointer;
}

nav .links li:before {
     content:none;
     padding-right:0;     
}

nav .logo {
    height: 45px;
    margin-left: 0px;
    margin-top: 25px;

}

/* HAMBURGER */

.button{
	position: absolute;
	right:20px;
	top:20px;
	z-index: 99;
} 

.button_2{
  display: none;
}

.button_2 .fa-times {
    color: #000;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 99;
}

.fa-bars, .fa-times{
  color: #000;
  transition: color 2s;
  cursor: pointer;
}
.fa-times{
  color: #fff;
  }

.fa-brands, .fa-solid{
  color: #fff;
 }

 .fa-car, .fa-city, .fa-house-chimney {
    color: #000;
}

.fa-arrow-left, .fa-arrow-right{
	
	color:#f4c20d ;
}

.fa-map-marker-alt{

color:#3cba54;
}

.fa-mobile{
color:#db3236
}


.side{
	width: 0px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #212121;
    opacity: 1;
    transition: height 0.5s;
    width: 100%;
    height: 0;
    z-index: 98;
    border: 1px solid #fff;


}

.side h1 {
    color: #B31942;
    padding: 20px 12px;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-family: Coolvetica;
    letter-spacing: 0.1em;
}

.reveal_content{

}

.side ul{}
/* FORM */

label {
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;

}

form, form input[type=text], form input[type=number]{
  width:450px;
  display: block;
  margin: 20px auto;
  font-family: Lemonmilk;

}

form input[type=text], form input[type=number]{
  border:1px solid #E8E8E8;
  border-radius: 5px;
  padding: 16px 0;
  text-align: center;
}

form input[type=text]:focus, form input[type=number]:focus {
  outline: none;
  border:1px solid #C3C3C3 !important;
  background-color: #C3C3C3;
  font-size:24px;
}

form input[type=submit]{
  border:1px solid #E8E8E8;
  border-radius: 5px;
  padding: 16px 0;
  text-align: center;
}

form input[type=submit] {
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 16px 0;
    width: 48%;
    float: left;
    margin: 1%;
    text-align: center;
    background-color: #c3c3c3;
    cursor: pointer;
}
/* FORM */

input {
    display: block;
    border:1px solid #E8E8E8;
  	border-radius: 5px;
    width: 60%;
    padding: 12px 20px;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 12px;
}

input[type=submit] {
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 16px 0;
    width: 48%;
    float: left;
    margin: 1%;
    text-align: center;
    background-color: #c3c3c3;
    cursor: pointer;
}

ol#receipts li {
    color: #000;
    text-align: left;
    line-height: 0px;
    margin-left: 25px;
    list-style: none;
}

li.samll a {
    font-size: 20px;
}

ol#receipts li.receipts_date {
    color: #B31942;
}

p.result {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 25px;
}

.black_box {
    margin: 10px 0;
}

#expense {
    position: absolute;
    top: 0;
    background-color: #fff;
    margin: 0;
    padding-top: 50px;
    height: 100%;
    left: 100%;
    transition: left, 0.5s;
    overflow: hidden;
    display: none;

}

#expense h1 {
    margin-bottom: 20px;
    font-family: 'Wiltona Brush';
    font-size: 62px;
    margin-bottom: 50px;
    display: block;
    text-align: center;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #B31942;
  --color-2: #FFFFFF;
  --color-3: #0A3161;
  --color-4: #000000;
}

@keyframes color-animation {
  0%    {color: var(--color-4)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-2)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-4)}
}

/* Here are just some visual styles. 🖌 */


.title {
  font-family: "Wiltona Brush", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}

 @media (max-width:700px){
 	.button{
 		display:block;
 	}
}

/* MAP */

.map{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index:1;
  /*
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
   */
}



.map iframe {
    margin: 0 auto;
    display: block;
    height: 0;
    width: 100%;
    transition: height, .75s;
}

.map_switch {
    background-color: #212121;
    color: #fff;
    padding:10px 0;
    text-align: center;
    cursor: pointer;
}
/*
.map_switch:before {
    content: "\f106";
    font: 40px/1 'FontAwesome';
    position: absolute;
    right: 35%;
    bottom: 15%;
    
}
*/

/* MAP */	

/* TABLE */


table.calendar{
	width:90%;
  margin:0 auto;
}

.calendar td {
    padding: 18px;
    background-color: #212121;
    color: #fff;
    text-align: center;
    cursor:pointer;
    transition: height 1s;
    font-size: 16px;
    font-family: Coolvetica;
    letter-spacing: 0.1em;
    border: 1px solid #212121;
    border-radius: 20px;
    
    
}

td.empty {
    background-color: transparent;
    padding: 4px 0;
    border: none;
}

td.inactive{
  color:grey;
  cursor: text;

}

td.inactive, td.active{

    
  }

.month, .day{
  cursor: text;
  opacity: 0.9;
}

.month{
  margin:10px 0;
}

.reveal {
    opacity: 0.9;
    transition: height 0.5s;
    width:93%;
    margin:0 auto;
    margin-top: 25px;
    background: #ffffff;
    font-family: Coolvetica;
    overflow: hidden;
    letter-spacing: 0.1em;
}

header {
    margin: 0.5em auto;
    height: 2.6em;
    overflow: hidden;
    width: 100%;
    font-family: Coolvetica;
    letter-spacing: 0.1em;
}
  
  ul.spinner,
  ul.spinner li {
    height: 13.5em;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  
  ul.spinner li {
    list-style-type: none;
    margin: 10px 0 2px 0;
    height: 1em !important;
    padding: 0px 0 0px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    width: 100%;
    color: #212121;
  }

  .calendar td.current_day{
    background-color: #fff;
    color: #212121;
    transition: color, 1s;
  }

  
  .spinner {
    animation-name: titleflip;
    animation: titleflip 5s ease-in-out 1;
    }

    .spinner.off {
    animation-name: none; 
    }
  
  @-webkit-keyframes titleflip {
    0%, 20% {
    transform: translate(0px, -12.50em);
    }
    20%,
    100% {
    transform: translate(0px, -0.315em);
    }
  }

table.itinerary {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.itinerary_item {
    background-color: #fff;
    min-height: 70px;
    width: 93%;
    margin: 0 auto;
    opacity: 0.9;
    margin-top: 2px;
    display: flex;
}

.itinerary_item p {
    width: 50%;
    float: left;
    padding-top: 9%;
    font-family: Coolvetica;
    letter-spacing: 0.1em;
    font-size: 23px;
}

.itinerary_item ul {
    width: 50%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.itinerary_item li {
    display: inline;
    padding: 0 10px;
}

.itinerary td{
  padding: 10px;
}

.itinerary tr{
  margin-bottom: 20px;
}

td.active{
}

.calendar_item p{display:none;}


/* MAP OVERIDES */

.i4ewOd-pzNkMb-tJHJj {
    background-color: #212121;
}

.SfQLQb-dIxMhd-bN97Pc-b3rLgd.SfQLQb-QClCJf-giiMnc .i4ewOd-pzNkMb-tJHJj {
    background-color: #212121;
}




